@font-face {
  font-family: FontawesomeWebfont;
  src: url(../fonts/fontawesome-webfont.ttf);
}
@font-face {
  font-family: Glyphicons-halflings-regular;
  src: url(../fonts/glyphicons-halflings-regular.tff);
}

@font-face {
  font-family: MULI-BOLD;
  src: url(../fonts/MULI-BOLD.TTF);
}

@font-face {
  font-family: MULI-REGULAR;
  src: url(../fonts/MULI-REGULAR.TTF);
}

@font-face {
  font-family: MULI-SEMIBOLD;
  src: url(../fonts/MULI-SEMIBOLD.TTF);
}

@font-face {
  font-family: MSVN-Artful;
  src: url(../fonts/SVN-Artful\ Beauty.ttf);
}
@font-face {
  font-family: MSVN-Athena_0;
  src: url(../fonts/SVN-Athena_0.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000 !important;
  text-decoration: none !important;
  font-size: 20px;
  font-family: FontawesomeWebfont ;
  box-sizing: border-box;

}

.font-MSVN-Athena_0{
  font-family: MSVN-Athena_0 !important ;
}
.font-size-10{
  font-size: 10px;
}
.bg-green {
  background-color: #aabc44;
}

/* .header-nav ul li{
    padding: auto 1rem;
} */

.navbar-nav .nav-link.title-header-nav {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.single-item {
  position: relative;
}

.banner-header .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  z-index: 3;
}
.banner-header .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}


/* Cách 1 CSS */
.banner-header .slick-dots li.slick-active button::before {
  position: absolute;
  transform: translate(25%, -50%);
  content: "";
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #aabc44;
  border: 0;
  outline: none;
  z-index: 2;
}

.banner-header .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0;
  outline: none;
  border: 2px solid #aabc44;
}

/* Cách 2 lấy ảnh */

/* .banner-header .slick-dots li button{
    background-image: url("../imgs/trang-chu/around.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
}
.banner-header .slick-dots li.slick-active button {
    background-image: url("../imgs/trang-chu/around1.png");
    background-repeat: no-repeat;    
} */

.header-banner, .detail-banner ,.btn-banner{
  position: absolute;
  left: 20%;
  z-index: 3;
}

.header-banner {
  top: 25%;
}

.title-banner {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.detail-banner {
  top: 45%;
  font-family: MSVN-Athena_0 !important;
  font-size: 0.9rem;
  width: 17.7rem;
  text-align: justify;
}

.btn-banner {
  top: 60%;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.75rem 2.5rem;
}

/* Footer */
footer {
  background-image: url(../imgs/trang-chu/fotter.png);
  background-repeat: no-repeat; 
  background-size:  100%;
  /* background-size: cover cover; */
 
}

footer ul {
  font-size: 0.8rem;
  padding-left: 0;
}


.logo-link a{
  font-size: 1rem;
}

@media only screen and (max-width: 1366px) {
  .header-banner {
    top: 22%;
  }
  .detail-banner {
    width: 16rem;
  }

  .btn-banner {
    top: 70%;
    padding: 0.5rem 1.5rem;
  } 
}

@media only screen and (max-width: 1024px) {
  /* .header-banner {
    top: 3.5rem;
  }
  .detail-banner{
    top: 9rem;
  }
  .btn-banner {
    top: 12.5rem;
    padding: 0.5rem 1.5rem;
  } */
}



.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.page-link {
  border: 1px solid #69922b;
  line-height: 1.25;
  padding: 0.3rem 0.5rem;
  color: black;
  border-radius: 1px !important;
  text-align: center;
}

.pagination li {
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.3em;
  font-size: 16px;
  /* padding-left: 0.1rem; */
  /* font-family: sans-serif; */
  display: flex;
  align-items: center;
}
.active {
  color: #69922b !important;
}