#banner-partner {
  position: relative;
  height: 100%;
}

#banner-partner .container {
  position: relative;
  height: 100%;
}

#banner-partner .img-banner-partner-main {
  width: 100%;
  height: 19rem;
  object-fit: cover;
  object-position: 100% 100%;
}

#bai-viet .banner-partner-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#bai-viet .banner-partner-box .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bai-viet .banner-partner-box .item img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

#bai-viet .banner-partner-box .item h2 {
  font-family: "Gotham-Medium";
  font-weight: bold;
  margin-top: 1rem;
  color: #fff;
  width: 16rem;
  text-align: center;
}

#bai-viet .box-white {
  position: absolute;
  height: 2.5rem;
  z-index: 2;
  top: calc(100% - 2.5rem);
  width: 100%;
  background-color: #fff;

}

#bai-viet .right-bai-viet h3 {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c2e53;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: left  ;
}
#bai-viet .right-bai-viet h3:before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.3rem;
  top: 110%;
  left: 10%;
  background-color: #bd945f;
  animation: menuHover 0.2s ease-in 1;
}

/* #partner {
  position: relative;
  height: 27rem;
}
#partner .container {
  background-color: #fff !important;

}
.doi-tac-box {
  position: absolute;
  width: 100%;
  margin-top: -2.25rem;
}

#partner .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
}
.list-doi-tac {
  padding-top: 2.25rem;
} */
#partner .item-doi-tac {
  width: 100%;
}

#partner .item-doi-tac .title-doi-tac {
  padding: 3rem 2rem 3rem 3rem;
}

#partner .item-doi-tac h3 {
  color: #bd945f;
  text-transform: uppercase;
  font-family: "Gotham-Medium";
  font-weight: bold;
  margin: 0 0 1rem 0;
  text-align: left;

}

#partner .item-doi-tac h3::before {

  display: none;

}

#partner .item-doi-tac p {
  color: #2c2e53;
  font-family: Gotham-Medium;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* width: 90%; */
}

#partner .item-doi-tac {
  margin-bottom: 3rem;
}