#banner {
  position: relative;
  height: 100%;
}
#banner .container {
  position: relative;
  height: 100%;
}
#banner .img-banner-main {
  width: 100%;
  height: 19rem;
  object-fit: cover;
  object-position: 100% 100%;
}

.banner-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.banner-box .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-box .item img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
.banner-box .item h2 {
  font-family: "Gotham-Medium";
  font-weight: bold;
  margin-top: 1rem;
  color: #fff;
  width: 8.5rem;
}
.box-white {
  position: absolute;
  height: 2.5rem;
  z-index: 2;
  top: calc(100% - 2.5rem);
  width: 100%;
  background-color: #fff;
}

#gioi-thieu h3 {
  position: relative;
  text-align: center;
  margin: 5rem 0 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c2e53;
}

#gioi-thieu h3:before {
  position: absolute;
  content: "";
  width: 8.5rem;
  height: 0.3rem;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bd945f;
  animation: menuHover 0.2s ease-in 1;
}

.item-gioi-thieu {
  margin-bottom: 3rem;
}

.item-gioi-thieu p {
  color: #2c2e53;
  font-family: Gotham-Medium;
  line-height: 1.4rem;
}

.img-thanh-lap {
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
  object-position: 0% 50%;
}
.item-su-menh {
    border: solid 2px #bd945f ;
    width: 48%;
    margin: 1rem auto ;
}
.item-su-menh .row{
    padding: 1rem 0;
}
.item-su-menh h5 {
  color: #bd945f;
}
.item-su-menh .para-su-menh {
  font-size: 0.8rem;
  line-height: 1rem;
  padding-right: 0;
  margin: 0 2rem 0 0;
}

#gioi-thieu{
    margin-bottom: 5rem;
}