#banner {
  position: relative;
  height: 100%;
}
#banner .container {
  position: relative;
  height: 100%;
}

#banner img {
  object-fit: cover;
}

.btn-mua-ngay {
  position: absolute;
  font-size: 1.2rem;
  top: 60%;
  left: 70%;
  padding: 0.8rem 2rem;
  background-color: #fff;
  border-radius: 0;
  font-family: Gotham-Medium;
}

#product-filter {
  margin: 3rem 0 1rem;
}

#products .products h3 {
  position: relative;
  margin: 0rem 0 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

#products .products h3:before {
  position: absolute;
  content: "";
  width: 8.5rem;
  height: 0.3rem;
  top: 110%;
  left: 0%;
  background-color: #bd945f;
  animation: menuHover 0.2s ease-in 1;
  transform: translateX(0%);
}


.pages ul li,
.filter-price ul li {
  list-style-type: none;
  margin-left: 2rem;
  cursor: pointer;
}
.filter-price {
  font-family: Gotham-Medium;
}

.filter-sort .form-select {
  border: none;
  font-family: Gotham-Medium;
  color: #2c2e53;
}

.item-product {
  margin-bottom: 3rem;
}

.image5 i {
  color: #bd945f !important;
}
.vote i {
  font-size: 1rem;
}
#pages {
  margin: 0rem 0 5rem;
}

.pages ul li{
  padding: 0.3rem;
  width: 2rem;
  background-color: #ccc;
  text-align: center;
  margin-left: 1rem;
  font-family: Gotham-Medium;
  color: #fff;
}
.pages ul li a{
  color: #fff;
}
.pages ul li.active{
  background-color: #bd945f;

}


.pages ul li:hover {
  background-color: #bd945f;
  color: #2c2e53;
}